/* CSS Document */


/* 中间的图片展示div */
#mid_pictures{
	background-image: url(../Imgs/index_mid_back.png) ;
	background-repeat: no-repeat;
	height:530px;
	text-align: center;
}
/* 图片背景上的文字 */
.mid_text_style{
	margin: 0 auto;
	display: block;
	padding-top: 100px;
}
/*最新比赛标题*/
.title{
	margin-top: 50px;
}
.title a{
	display: block;
}
.htitle{
	display: block;
	padding: auto 0;
	font-size: 35px;
	text-align: left;
	font-weight: 700;
}
.more{
	display: block;
	padding: auto 0;
	font-size: 25px;
	text-align: right;
	font-weight: 400;
}
/*最新比赛信息*/

.card{
	width: 32%;
	margin-left: auto;
	background-color:#EEEEEE;
	margin-top: 15px;
}
.card a{
	display: block;
}
.card-title{
	font-family:"楷体";
	font-size: 1em;
}
.card-text{
	font-size: .5em;
}
.card-deck{
	margin-top: 15px;
}
